.view_container{
	position: static;
	min-height: 700px;
	overflow-x: hidden;
}

.individual_view {
	position: static;
	top:100px;
	left:100px;
	padding:0px 0px 0px 50px;
}

.individual_view img{
	position: relative;
	left:30%;
	max-height: 500px;
	border:1px solid black;
}

.individual_view p{
	position: relative;
	max-width: 1000px;
	padding-left: 80px;
	text-indent:30px;
}